ForwardAgent yes
KeepAlive yes
ServerAliveInterval 100

Host *
ControlPath /tmp/%%h-%%p-%%r

# add additional localized configuration to config.d/ssh_config
# add your identities to config.d/ssh_config using the following format
## Host *
## IdentityFile ~/.ssh/id_rsa

Include config.d/*
Include ~/.colima/ssh_config
