# brew install list

## include an uncommented list of homebrew packages to install

#aspell
#awscli
#bash
#chruby
#editorconfig
#git
#heroku
#leiningen
#mit-scheme
#nmap
#nvm
#pandoc
#planck
#pwgen
#python
#readline
#rlwrap
#ruby-install
#ssh-copy-id
#shellcheck
#terraform
#the_silver_searcher
#tmux
#tree
#wget
#yarn
#zsh
