# brew install list

## include an uncommented list of homebrew packages to install

#aspell
#awscli
#bash
#chruby
#editorconfig
#git
#heroku
#kubectl
#leiningen
#mit-scheme
#mysql@5.6
#nmap
#node@8
#nvm
#pandoc
#postgresql@9.6
#pwgen
#python@2
#readline
#rlwrap
#ruby-install
#speedtest-cli
#ssh-copy-id
#shellcheck
#terraform
#the_silver_searcher
#tldr
#tmux
#tree
#wget
#yarn
#zsh
