# cask install list

## include an uncommented list of homebrew cask packages to install

#emacs
#macvim
#1password
#alfred
#amazon-music
#anvil
#appcleaner
#bartender
#caffeine
#choosy
#daisydisk
#dash
#docker
#dropbox
#etcher
#fantastical
#flux
#focusatwill
#google-chrome
#google-hangouts
#hazel
#iterm2
#karabiner-elements
#keepassxc
#keyboard-maestro
#launchcontrol
#marked
#moom
#muzzle
#nvalt
#omnifocus
#postman
#slack
#spotify
#taskpaper
#textexpander
#textual
#the-unarchiver
#tripmode
#tunnelblick
#vagrant
#vagrant-manager
#virtualbox
#virtualbox-extension-pack
